body {
    background: rgb(177, 49, 134);
    background: linear-gradient(90deg, rgb(153, 47, 118) 0%, rgb(185, 82, 146) 35%, rgb(223, 102, 196) 100%);
}

header {
    display: flex;
    justify-content: center;
}

.nav-lista {
    display: flex;
    list-style: none;
    font-size: 40px;
    color: rgb(84, 170, 144);
    gap: 20px;
    text-transform: uppercase;
}

.nav-item:hover {
 cursor: pointer;
 background-color: white;
 color: black;
}