body {
    background: rgb(177, 49, 134);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

header {
    display: flex;
    justify-content: center;
}

.nav-lista {
    display: flex;
    list-style: none;
    font-size: 40px;
    color: rgb(84, 170, 144);
    gap: 20px;
    text-transform: uppercase;
}

.nav-item:hover {
 cursor: pointer;
 background-color: white;
 color: black;
}