body {
    background: rgb(172, 51, 146);
    background: linear-gradient(90deg, rgb(224, 65, 230) 0%, rgb(170, 31, 140) 35%, rgb(223, 102, 196) 100%);
}

header {
    display: flex;
    justify-content: center;
}

.nav-lista {
    display: flex;
    list-style: none;
    font-size: 40px;
    color: rgb(247, 10, 10);
    gap: 20px;
    text-transform: uppercase;
}

.nav-item:hover {
 cursor: pointer;
 background-color: white;
 color: black;
}